@page
@model WebApplication1.Pages.DynamicFormDisplaySampleModel
@{
}
<!DOCTYPE html><html>
    <head><title></title></head>
    <body>
        <form name="DynamicSampleForm" method="post">
            <table>
                <tr>
                    <td>Field:</td>
                    <td><input type="text" name="AField"/></td>
                </tr>
                <tr>
                    <td>
                        Collection:
                    </td>
                    <td>
                        <select name="ACollection" size="2">

                        </select>
                    </td>
                </tr>
            </table>

        </form>
    </body>
</html>
