@page
@model WebApplication1.Pages.IndexModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html >
    <head>
        <meta charset="utf-8"/>
        <title>index</title>
    </head>
    <body>
        Index Razor Page
    </body>
</html>
