@page
@model WebApplication1.Pages.Index1Model
@{
}
<!DOCTYPE html><html>

    <head>
        <meta charset="utf-8"/>
        <title>Test Page</title>
        </head>
    <body>
        <!-- HTML 5 Structural Elements, header, nav, main, footer-->
        <header>
            Header Area <br/>
            The headings of a web page document or area within<br/>
            <hr /> <!-- horizontal rule-->
        </header>
        <nav>
            Navigation Area <br />
            Section of navigation links <br/>
            <hr/>
        </nav>
        <main>
            MaIN Area <br/>
            The main content of a web page document, only 1 per page
            <div>
                Division Area <br />
                A generic structural area on a web page as a block display, with empty space above and below
            </div>
            <form name="TestPageForm" method="post">
                <table>
                    <tr>
                        <td>Field:</td>
                        <td><input type="text" name="field" value="@Model.field" /></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <input type="submit" name="Submit" />
                        </td>
                    </tr>
                </table>
            </form>
            @Model.message
            <!-- HTTP ERROR 400
                missing antiforgery token (request verification tokens)
                security measures put in place by ASP.NET, enabled by default in Razor Pages
                to avoid cross-site request forgery (CSRF) attacks
                token proves that request comes from site which originated from(cookie and form data)

                use the namespace, Microsoft.AspNetCore.Mvc.TagHelpers, to get token
                top of file, addtaghelper attribute below the page attribute
            -->
            <hr/>
        </main>
        <footer>
            Footer Area<br />
            The footer content of a web page or section of a web page<br/><hr/>
        </footer>
    </body>
</html>
